<h1 id="tableLabel">Top Bike Manufacturer bike releases</h1>

<p>This component demonstrates fetching data from the server and showing price of bikes released </p>

<p *ngIf="!testbreaks"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="testbreaks">
  <thead>
    <tr>
      <th>Release Date</th>
      <th>Base model</th>
      <th>High end model</th>
      <th>Bike Manufacturer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let testbreak of testbreaks">
      <td>{{ testbreak.date }}</td>
      <td>{{ testbreak.lowEndPrice }}</td>
      <td>{{ testbreak.highEndPrice }}</td>
      <td>{{ testbreak.bikes }}</td>
    </tr>
  </tbody>
</table>
